<section
  id="portfolio"
  class="d-flex justify-content-center flex-column align-items-center pt-5"
>
  <h2 class="fw-bold h1 pb-5">PORTFOLIO COMPONENT</h2>

  <div class="container">
    <div class="row pb-3 gy-4">
      <div class="col-md-4" *ngFor="let image of imgsArr; index as j">
        <div role="button" (click)="imgClick()" (click)="slectedImg(image)">
          <div
            class="layer-content overflow-hidden rounded-3 position-relative"
          >
            <img [src]="image" alt="portfolio {{ j + 1 }}" class="w-100" />
            <div
              class="layer position-absolute top-0 end-0 w-100 h-100 d-flex justify-content-center align-items-center"
            >
              <i class="fa-solid fa-plus fa-4x text-white"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="detilse"
  class="fixed-top d-flex justify-content-center vh-100 align-items-center"
  (click)="imgClick()"
  *ngIf="showDitels"
>
  <div class="container">
    <div class="w-50 m-auto">
      <img [src]="slected" alt="portfolio" class="w-100" />
    </div>
  </div>
</section>
