<section
  id="home"
  class="d-flex flex-column justify-content-center align-items-center text-white"
>
  <div class="container">
    <div class="row justify-content-center align-items-center gy-3">
      <div class="col-lg-7">
        <h1>Hi👋,<strong> I'm Angular Framework</strong></h1>

        <p class="py-4 me-5">
          Don't ever let somebody tell you... You can't do anything. Not even
          me. You have a dream... You have to protect it. People can't do
          something for themselves; they want to tell you you can't do it. If
          you want something, go get it. Period.
        </p>

        <p>--The Pursuit of Happyness <strong>Movie</strong></p>
      </div>

      <div class="col-lg-5">
        <img
          src="../../assets/imgs/undraw_online_test_re_kyfx.svg"
          alt="home photo"
          class="w-100 py-5"
        />
      </div>
    </div>
  </div>
</section>
